/* Set the background color and text color for the body */
body {
  background-color: black;
  color: teal;
}

/* Styling for the hero image */
.arcade {
  height: 38rem;
}

/* Styling for the navigation bar */
.navbar {
  background-color: #116466;
  width: 80%;
  border-radius: 10px;
  margin: auto;
  margin-top: 2rem;
}

.navbar .nav-link {
  color: #D1E8E2;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: white;
  border-bottom: 5px solid purple;
  line-height: 10px;
  display: inline-block;
  margin: 5px;
  letter-spacing: -1px;
}

.navbar .navbar-brand {
  color: #fff;
  letter-spacing: -1px;
}

.nav-logo {
  height: 50px;
}

/* Styling for the content section */
.content {
  width: 25%;
  position: absolute;
  top: 0;
  margin: 170px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

.content:hover {
  transform: scale(1.2);
}

/* Styling for buttons */
.btn {
  border-radius: 10px;
  width: 20rem;
  color: white;
  background-color: purple;
}

.btn:hover {
  border: solid gold 2px;
}

/* Styling for text and icons */
.OGS {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  font-family: 'Nabla', cursive;
}

p {
  font-weight: 700;
  letter-spacing: 1;
}

.icon {
  background-color: #116466;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pictures {
  margin-left: 50px;
  margin-right: 50px;
}

/* Styling for scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: purple;
}

/* Media container and scroller */
.media-container {
  position: relative;
  height: 100%;
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.media-scroller,
.media-group {
  display: grid;
  grid-auto-flow: column;
  border-color: black;
  border-width: 1rem;
  border-style: solid;
}

.media-scroller {
  overflow-x: hidden;
  scroll-behavior: smooth;
  grid-auto-columns: 100%;
  padding: 0;
  scroll-padding-inline: 10rem;
}

.media-element {
  overflow: hidden;
  transition: transform 0.2s;
  margin: 5px;
}

.media-element:hover {
  transform: scale(1.1);
}

/* Styling for top section */
.top {
  padding: 20px;
  background-color: #301934;
}

.top-img {
  width: 30%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
  transform: scale(1);
  transition: 0.5s;
}

.top-three {
  max-width: 700px;
  max-height: 350px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.top-three:hover img {
  opacity: 0.3;
}

.top-three img:hover {
  transform: scale(1.1);
  opacity: 1;
}

.top-five {
  color: black;
  letter-spacing: -1px;
  width: 15%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background-color: teal;
  border-radius: 10px;
  height: 50px;
}

/* Styling for registration and login forms */
.reg {
  border-style: solid;
  border-color: teal;
  border-width: 0.2rem;
  width: 60%;
  margin: auto;
  margin-top: 10%;
  height: 70vh;
  border-radius: 20px;
  background-image: linear-gradient(to left, #008080, #195c73, #2f3950, #241d26, #000000);
}

.fblog {
  width: 100%;
  height: 100%;
  padding-top: 170px;
  border-radius: 20px;
}

.fblogg {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  margin: auto;
  border-radius: 10px;
  color: #D1E8E2;
  padding: 10px;
}

.fire {
  height: 100%;
  width: 50%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.welcome {
  color: #D1E8E2;
  border-width: 0.5rem;
  letter-spacing: -2px;
  margin: auto;
  width: 30%;
  padding: auto;
}

.wel1 {
  color: #D1E8E2;
  border-width: 0.5rem;
  letter-spacing: -2px;
  margin: auto;
  width: 30%;
  padding: auto;
}

.char {
  height: 100%;
  width: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* Styling after logging in */
.reg-body {
  margin: auto;
  width: 70%;
  height: 70vh;
  margin-top: 20vh;
  background-color: #116466;
  border-radius: 20px;
  padding: 10px;
}

.Logout {
  float: right;
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
  border: none;
  font-weight: 500;
  letter-spacing: -1;
}

.Logout:hover {
  transform: scale(1.1);
}

.logout-img {
  height: 15px;
  width: 15px;
}

.username {
  margin: 30px;
  width: 20%;
  color: white;
  font-size: large;
}

/* Styling for games section */
.demo {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: 70%;
  margin-top: 100px;
}



  