


.reg {
    border-style: solid;
    border-color: teal;
    border-width: 0.2rem; 
    width: 60%; 
    margin: auto;
    margin-top: 10%; 
    height: 70vh;
    border-radius: 20px;
    /* background-image: url(../croppedland.png); */
    background-image: linear-gradient(to left, #008080, #195c73, #2f3950, #241d26, #000000);
}
.fblog {
    /* border-style: solid;
    border-width: 5px; */
    width: 100%;
    height: 100%;
    padding-top: 170px;
    border-radius: 20px;
    

  } 
  
  .fblogg {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

    

  } 

  .row {
    /* border: red;
    border-width: 2px;
    border-style: solid; */
    margin: auto;
    border-radius: 10px;
    color: #D1E8E2;
    padding: 10px;
  }

.fire {
    
    height: 100%;
    width: 50%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.welcome {
    color: #D1E8E2;
    border-width: .5rem;
    letter-spacing: -2px;
    margin: auto;
    width: 30%;
    padding: auto;    
    /* border: red;
    border-width: 2px;
    border-style: solid; */
    
}
.wel1 {
    color: #D1E8E2;
    border-width: .5rem;
    letter-spacing: -2px;
    margin: auto;
    width: 30%;
    padding: auto;
    /* border: red;
    border-width: 2px;
    border-style: solid; */
    
}

.char{
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* border: yellow;
    border-width: 2px;
    border-style: solid; */
}


/* After logging in */

.reg-body {
    /* border: red;
    border-width: 2px;
    border-style: solid; */
    margin: auto;
    width: 70%;
    height: 70vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 20vh ;
    background-image: linear-gradient(to left, #008080, #195c73, #2f3950, #241d26, #000000);
    border-radius: 20px;
    padding: 10px;
}
.Logout {
    float: right;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    border: none;
    font-weight: 500;
    letter-spacing: -1;
    
    
}
.Logout:hover {
    transform: scale(1.1);
}

.logout-img {
    height: 15px;
    width: 15px;
}
.username {
    margin: 30px;
    /* border: red;
    border-width: 2px;
    border-style: solid; */
    width: 20%;
    color: white;
    font-size: large;

}

.container .row {
    
    padding: 10px;
    background-color: teal;
    width: 60%;
    
}
.btncontainer {
    margin: auto;
    
}

.btn {
    width: 10vw;
    background-color: purple ;
    color: white;
} 
.btn:hover {
    border: gold;
    border-width: 2px;
    border-style: solid;
    color: white;
}

.requestslist {
    overflow: hidden;
    overflow-y: scroll;
    width: 65%;
    margin: auto;
    height: 80%;
    margin-top: 50px;
    list-style-type: none;
       

    }

.request{
    
    border-radius: 5px;
    width: 100%;
    float: right;
    color: white;
    height: 100%;
    margin: 10px;
    background-color: teal;
}

.request:hover {
   border: gold solid 2px; 
}

.req-name {
    float: right;
    margin: 5px;
}

 
.req-gamename {
    margin: 5px;
}