{% extends "base.html" %}
{% block content %} 

    
    <head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='Games.css') }}">

    </head> 
    
    <div class="imageblock">
        <img class="gameimg" src="https://upload.wikimedia.org/wikipedia/en/b/bf/Call_of_Duty_Modern_Warfare_3_box_art.png" alt="" />
        <div class="gameinfo">
            <h3 class="gamename">
                Call of Duty: Modern Warfare 3
            </h3>
            <p class="gamedesc">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            <button class="gamebutton">
                More Info
            </button>
        </div>
    </div>


{% endblock %}