{% extends "base.html" %} 
{% block content %} 
    <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nabla&family=Sigmar+One&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Nabla&family=Sigmar+One&display=swap'); </style>
    </head>
    


    <div class="background">
      <img src="../static/arcade.gif" alt="arcade" width= 100% />
    </div>
    <div class="content">
      <div class="title">
        <h1>Welcome to OGS</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
          natus, enim ipsam magnam odit deserunt itaque? Minima earum velit
          tenetur!
        </p>
        <button type="button" class="btn">Browse Games</button>
        </div>
    
    </div>
    <div class="service-bg" >
        <h1 class="platform" > Gaming Platforms</h1>
            <div class="service">
                
              <div class="icon">
                <img class="pictures" src="../static/xbox.png" width=50%  alt="" />
              </div>
              <div class="icon">
                <img class="pictures" src="../static/ps4.png" width=50%  alt="" />
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
                    natus, enim ipsam magnam odit deserunt itaque? Minima earum velit
                    tenetur!
                  </p>
              </div>
              <div class="icon">
                <img class="pictures" src="../static/nintendo.png" width=50%  alt="" />
              </div>
            </div>
</div>
















<!-- <div class="demo">
    <div>
    <img src="/static/arcade.gif" alt="Arcade Gif" width=100%>
    
    </img><p class="first">The aims of this unit is to give students a critical understandi
ng of the design of applications which support enterprise activities. There will b
e an emphasis on software ons.</p>
</div>
<p class="second">All that you need to know is on the Unit Brightspace.</p>
</div> -->





<!-- <div class="container">
    
    
 <img src="/static/arcade.gif" alt="Arcade Gif" width=100% height=50%/>    
<div class="demo"> 
    
    <header class="py-5 mt-5">
    <h1> Home </h1>
    </header>
    {% for d in data %} 
                <div class="row">
                    <div style="display:flex; justify-content: center; align-items: center;" class="col align-self-center">
                       
                        <h2>{{ d['title'] }}</h2>
                        <h3>{{ d['author'] }}</h3>
                        <p>{{ d['dateCreated'] }}</p> 
                        <p>{{ d['content'] }}</p>
    
                    </div>
                </div>
            {% endfor %} 
</div>
</div> -->

{% endblock %} 
